@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #222831;
}

.title {
  background-color: #393e46;
  opacity: 0.8;
  text-align: center;
  color: #00adb5;
}

.container {
  background-color: #393e46;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 5px #00adb5;
  position: relative;
  text-align: center;
  width: 500px;
}

h1 {
  letter-spacing: 3px;
  margin: 10px 0 10px;
  text-transform: uppercase;
}

.bg-dark {
  background-color: #393e46;
  margin: 0 2px;
  border-radius: 4px;
}
input {
  border: 1px solid#eeeeee;
  padding: 5px;
  margin: 5px;
  width: 100%;
  font-size: 16px;
  outline: none;
  box-shadow: 1px 2px 1px #00adb5;
  border-radius: 15px;
}
button {
  margin: 15px;
  width: 30%;
  border-radius: 15px;
  border: 1px solid #eeeeee;
}

#error_msg {
  color: red;
  background-color: #393e46;
  font-weight: bolder;
  padding: 0 10px;
}
